@page "/customers"
@inject CustomerViewModel _customersViewModel

<h3>Customers</h3>
<button class="btn btn-primary" @onclick="@(async () => await GenerateCustomer())">Add random customer</button>

<ul>
    @foreach (Customer customer in EntitesLists.Customers)
    {
        <li>@customer.Surname</li>
    }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {

        await _customersViewModel.FillCustomers();
    }

    private async Task GenerateCustomer()
    {
        await _customersViewModel.GenerateCustomer();
    }
}
